In [1]:
import pandas as pd
import numpy as np

In [2]:
# test 데이터 불러오기
test_df = pd.read_csv('./DF_Preprocessing/test_df.csv')
test_df

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),국고채10년(평균),회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원)
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,19.0,52000
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,21.0,52800
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,24000
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,8.0,120000
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,23000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,18.0,250000
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,34.0,138000
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,14.0,172000
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,26.0,37000
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,19.0,76500

In [3]:
# 환율 데이터 불러오기
a = pd.read_csv('./DF_Preprocessing/USD_KRW 과거 데이터.csv')
a

                날짜        종가        시가        고가        저가  거래량    변동 %
0     2022- 12- 30  1,260.92  1,261.24  1,265.34  1,253.26  NaN   0.01%
1     2022- 12- 29  1,260.85  1,274.71  1,275.32  1,259.19  NaN  -1.06%
2     2022- 12- 28  1,274.37  1,272.25  1,276.66  1,265.57  NaN   0.20%
3     2022- 12- 27  1,271.79  1,274.91  1,275.63  1,264.85  NaN  -0.17%
4     2022- 12- 26  1,273.91  1,279.80  1,282.20  1,273.89  NaN  -0.44%
...            ...       ...       ...       ...       ...  ...     ...
1821  2016- 01- 07  1,197.29  1,200.52  1,204.70  1,193.16  NaN  -0.27%
1822  2016- 01- 06  1,200.52  1,190.81  1,203.80  1,187.59  NaN   0.82%
1823  2016- 01- 05  1,190.81  1,190.35  1,192.80  1,184.40  NaN   0.04%
1824  2016- 01- 04  1,190.35  1,175.66  1,193.23  1,175.65  NaN   1.27%
1825  2016- 01- 01  1,175.45  1,175.94  1,176.50  1,175.19  NaN  -0.04%

[1826 rows x 7 columns]

- 환율 데이터 합치기

In [4]:
# 필요한 컬럼만 추출
a = a[['날짜', '종가']]

In [5]:
# 컬럼 이름 바꾸기
a.columns = ['계약일', '환율종가']

In [6]:
# 시계열 변경
test_df['계약일'] = pd.to_datetime(test_df['계약일'])
a['계약일'] = pd.to_datetime(a['계약일'])

<ipython-input-6-b2d114eec186>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['계약일'] = pd.to_datetime(a['계약일'])

In [9]:
test_df1 = pd.merge(test_df, a, on='계약일', how='left')
test_df1

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),국고채10년(평균),회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,19.0,52000,"1,084.73"
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,21.0,52800,"1,084.73"
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,24000,"1,084.73"
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,8.0,120000,"1,084.73"
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,23000,"1,084.73"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,18.0,250000,NaN
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,34.0,138000,NaN
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,14.0,172000,NaN
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,26.0,37000,NaN
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,19.0,76500,NaN

In [10]:
# 금값 데이터 불러오기
b = pd.read_csv('./DF_Preprocessing/금값 데이터.csv')
b

                날짜     종가     시가     고가     저가  거래량    변동 %
0     2022- 12- 30  76.11  76.03  77.13  75.49  NaN   0.12%
1     2022- 12- 29  76.02  76.71  76.84  75.35  NaN  -0.90%
2     2022- 12- 28  76.71  75.43  76.86  75.34  NaN   1.70%
3     2022- 12- 27  75.43  75.59  75.75  74.58  NaN  -0.15%
4     2022- 12- 26  75.54  75.74  75.74  75.21  NaN  -0.26%
...            ...    ...    ...    ...    ...  ...     ...
2140  2016- 01- 07  77.52  78.16  78.16  77.52  NaN  -0.77%
2141  2016- 01- 06  78.12  77.23  78.12  77.23  NaN   1.34%
2142  2016- 01- 05  77.09  77.56  77.56  77.09  NaN  -0.44%
2143  2016- 01- 04  77.43  77.06  77.43  77.06  NaN   0.81%
2144  2016- 01- 01  76.81  76.59  76.81  76.59  NaN   0.24%

[2145 rows x 7 columns]

In [11]:
# 컬럼이름 변경
b = b.rename(columns={'날짜' : '계약일', '종가' : '금값종가'})

In [12]:
# 필요한 컬럼만 추출
b = b[['계약일', '금값종가']]

In [13]:
# 시계열 변경
b['계약일'] = pd.to_datetime(b['계약일'])

In [14]:
# 합치기
test_df2 = pd.merge(test_df1, b, on='계약일', how='left')

In [15]:
test_df2

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),국고채10년(평균),회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,19.0,52000,"1,084.73",71.96
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,21.0,52800,"1,084.73",71.96
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,24000,"1,084.73",71.96
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,8.0,120000,"1,084.73",71.96
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,23000,"1,084.73",71.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,18.0,250000,NaN,NaN
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,34.0,138000,NaN,NaN
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,14.0,172000,NaN,NaN
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,26.0,37000,NaN,NaN
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,19.0,76500,NaN,NaN

In [22]:
# 선행 순환 지표 데이터 불러오기
c = pd.read_csv('./DF_Preprocessing/선행지수순환지표.csv', index_col=False)
c

        통계표명:                                             경기종합지수   Unnamed: 2
0         단위:                                           2020=100          NaN
1         NaN                                        동행지수\n순환변동치  선행지수\n순환변동치
2   2016\n01월                                               99.5         99.6
3   2016\n02월                                               99.4         99.2
4   2016\n03월                                               99.2         99.2
..        ...                                                ...          ...
83  2022\n10월                                              100.7         99.8
84  2022\n11월                                              100.1         99.5
85  2022\n12월                                               99.4         99.1
86        출처:                                        통계청「산업활동동향」          NaN
87        주석:  추세치=100을 기준으로 순환변동치가 100을 상회하면 추세이상의 성장을 하고 있고...          NaN

[88 rows x 3 columns]

In [23]:
# 필요없는 데이터 삭제
c = c.iloc[2:86,:]

In [24]:
# 컬럼명 바꾸기
c.columns = ['계약일', '동행지수순환변동치', '선행지수순환변동치']
c

          계약일 동행지수순환변동치 선행지수순환변동치
2   2016\n01월      99.5      99.6
3   2016\n02월      99.4      99.2
4   2016\n03월      99.2      99.2
5   2016\n04월      99.1      99.3
6   2016\n05월      99.4      99.3
..        ...       ...       ...
81  2022\n08월     100.9      99.9
82  2022\n09월     100.8      99.8
83  2022\n10월     100.7      99.8
84  2022\n11월     100.1      99.5
85  2022\n12월      99.4      99.1

[84 rows x 3 columns]

In [25]:
# 동행지수순환변동치 컬럼 삭제
c.drop('동행지수순환변동치', axis = 1, inplace=True)

/Users/eunjin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
# 계약일 데이터에 있는 '\n' 삭제
c['계약일'] = c['계약일'].str.replace('\n', '')

<ipython-input-26-96c83dbb72b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['계약일'] = c['계약일'].str.replace('\n', '')

In [27]:
# 계약일 데이터에 있는 '월' 삭제
c['계약일'] = c['계약일'].str.replace('월', '')

<ipython-input-27-561dd2542166>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['계약일'] = c['계약일'].str.replace('월', '')

In [28]:
# 계약일 datetime으로 바꾸기
c['계약일'] = pd.to_datetime(c['계약일'], format = "%Y%m")

<ipython-input-28-11279337e13b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['계약일'] = pd.to_datetime(c['계약일'], format = "%Y%m")

In [29]:
# 월별 데이터 이므로 원본 데이터와 선행지수순환변동치 데이터의 월컬럼 만들기
test_df2['월'] = test_df2['계약일'].dt.to_period('M')
c['월'] = c['계약일'].dt.to_period('M')

<ipython-input-29-fe92179e925e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['월'] = c['계약일'].dt.to_period('M')

In [30]:
test_df2

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,월
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,104,19.0,52000,"1,084.73",71.96,2021-01
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,104,21.0,52800,"1,084.73",71.96,2021-01
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,104,1.0,24000,"1,084.73",71.96,2021-01
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,104,8.0,120000,"1,084.73",71.96,2021-01
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,104,1.0,23000,"1,084.73",71.96,2021-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,105,18.0,250000,NaN,NaN,2022-12
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,105,34.0,138000,NaN,NaN,2022-12
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,105,14.0,172000,NaN,NaN,2022-12
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,105,26.0,37000,NaN,NaN,2022-12
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,105,19.0,76500,NaN,NaN,2022-12

In [46]:
c.drop('계약일', axis = 1, inplace=True)

/Users/eunjin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [47]:
# 데이터 프레임 합치기
test_df3 = pd.merge(test_df2, c, on='월', how='left')
test_df3

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),국고채10년(평균),회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,월,선행지수순환변동치
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,19.0,52000,"1,084.73",71.96,2021-01,100.7
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,21.0,52800,"1,084.73",71.96,2021-01,100.7
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,24000,"1,084.73",71.96,2021-01,100.7
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,8.0,120000,"1,084.73",71.96,2021-01,100.7
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.49,0.50,104,1.0,23000,"1,084.73",71.96,2021-01,100.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,18.0,250000,NaN,NaN,2022-12,99.1
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,34.0,138000,NaN,NaN,2022-12,99.1
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,14.0,172000,NaN,NaN,2022-12,99.1
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,26.0,37000,NaN,NaN,2022-12,99.1
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.24,3.25,105,19.0,76500,NaN,NaN,2022-12,99.1

In [48]:
# 데이터 합칠 때 사용한 컬럼이 월 컬럼과 OLS 결과 유의미하지 않은 값이 콜금리(1일물,평균) 컬럼 삭제
test_df3 = test_df3.drop(columns = ['월','콜금리(1일물,평균)'])
test_df3

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),국고채10년(평균),회사채3년(평균),CD91물(평균),BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.50,104,19.0,52000,"1,084.73",71.96,100.7
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.50,104,21.0,52800,"1,084.73",71.96,100.7
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.50,104,1.0,24000,"1,084.73",71.96,100.7
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.50,104,8.0,120000,"1,084.73",71.96,100.7
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,1.73,2.14,0.68,0.50,104,1.0,23000,"1,084.73",71.96,100.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.25,105,18.0,250000,NaN,NaN,99.1
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.25,105,34.0,138000,NaN,NaN,99.1
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.25,105,14.0,172000,NaN,NaN,99.1
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.25,105,26.0,37000,NaN,NaN,99.1
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,3.54,5.30,4.02,3.25,105,19.0,76500,NaN,NaN,99.1

- 금값 결측치 19146개
- 환율 결측치 22622개

- 환율 결측치(22622) / 금값 결측치(19146) 결측치 발견 : 선형보간법이나 이전 가장 가까운 값 또는 최소자승법 중 결측치 대체 방법 논의하기
- 추가적인 컬럼인 환율종가(일별), 금종가(일별), 선행지수순환변동치(월별) 컬럼 선택 후 OLS 결과시 콜금리삭제  
-  이후에 3가지 방식으로 스플릿하여 csv 만들기
    - 강남3구 + 용산
    - 건물연식 30년 이하 & 건축 30년 초과 DF
    - 매매가 15억 이상 DF , 15억 미만 DF

In [50]:
# 데이터셋 생성
test_df3.to_csv('test_all.csv', index = False, encoding = 'utf-8-sig')