In [14]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("../서울 부동산 실거래가.csv",encoding = 'euc-kr')
df

/Users/eunjin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,15,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,11530,구로구,10200,구로동,1.0,대지,797.0,37.0,(797-37),...,30000,55.23,0.0,3,NaN,NaN,1998.0,아파트,직거래,NaN
1,2023,11560,영등포구,11000,여의도동,1.0,대지,50.0,0.0,시범,...,144500,60.96,0.0,6,NaN,NaN,1971.0,아파트,중개거래,서울 영등포구
2,2023,11650,서초구,10100,방배동,1.0,대지,1015.0,0.0,임광,...,210000,136.38,0.0,7,NaN,NaN,1985.0,아파트,직거래,NaN
3,2023,11590,동작구,10200,상도동,1.0,대지,536.0,0.0,상도효성해링턴플레이스,...,93000,59.98,0.0,26,NaN,NaN,2016.0,아파트,중개거래,서울 동작구
4,2023,11440,마포구,12000,서교동,1.0,대지,487.0,0.0,대우미래사랑,...,29500,34.29,0.0,8,NaN,NaN,2005.0,아파트,중개거래,서울 마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337923,2006,11620,관악구,10100,봉천동,1.0,대지,1706,0.0,봉천우성,...,16900,59.76,NaN,3,NaN,NaN,2000.0,아파트,NaN,NaN
1337924,2006,11350,노원구,10500,상계동,1.0,대지,720,0.0,상계주공6(고층),...,13500,59.20,NaN,12,NaN,NaN,1988.0,아파트,NaN,NaN
1337925,2006,11470,양천구,10100,신정동,1.0,대지,312,0.0,목동신시가지9,...,33300,53.82,NaN,7,NaN,NaN,1987.0,아파트,NaN,NaN
1337926,2006,11560,영등포구,12600,양평동2가,1.0,대지,38,1.0,양평삼성,...,18000,59.40,NaN,2,NaN,NaN,1998.0,아파트,NaN,NaN
1337927,2006,11650,서초구,10600,잠원동,1.0,대지,73,0.0,신반포2,...,56700,79.42,NaN,4,NaN,NaN,1978.0,아파트,NaN,NaN

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337928 entries, 0 to 1337927
Data columns (total 21 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   접수연도              1337928 non-null  int64
 1   자치구코드             1337928 non-null  int64
 2   자치구명              1337928 non-null  object
 3   법정동코드             1337928 non-null  int64
 4   법정동명              1337928 non-null  object
 5   지번구분              1337800 non-null  float64
 6   지번구분명             1337800 non-null  object
 7   본번                1337800 non-null  object
 8   부번                1337800 non-null  float64
 9   건물명               1337928 non-null  object
 10  계약일               1337928 non-null  int64
 11  물건금액(만원)          1337928 non-null  int64
 12  건물면적(㎡)           1337928 non-null  float64
 13  토지면적(㎡)           372759 non-null   float64
 14  층                 1337928 non-null  int64
 15  권리구분              55668 non-null    object
 16  취소일               8249 non-null     float64
 17  건축년도              1337922 non-null  float64
 18  건물용도              1337928 non-null  object
 19  신고구분              59743 non-null    object
 20  신고한 개업공인중개사 시군구명  52146 non-null    object
dtypes: float64(6), int64(6), object(9)
memory usage: 214.4+ MB

In [30]:
# 새로운 컬럼 생성을 위한 앞의 4자리 숫자 추출 함수 정의
def extract_year(row):
    return str(row)[:4]

# '계약일' 컬럼에서 앞의 4자리 숫자 추출하여 새로운 컬럼 생성
df['연도'] = df['계약일'].apply(extract_year)

In [35]:
# 연도 컬럼 문자형에서 숫자형으로 변경
df['연도'] = df['연도'].astype(int)

<ipython-input-35-f6082a7e474d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['연도'] = df['연도'].astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1143399 entries, 13604 to 1157002
Data columns (total 22 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   접수연도              1143399 non-null  int64
 1   자치구코드             1143399 non-null  int64
 2   자치구명              1143399 non-null  object
 3   법정동코드             1143399 non-null  int64
 4   법정동명              1143399 non-null  object
 5   지번구분              1143272 non-null  float64
 6   지번구분명             1143272 non-null  object
 7   본번                1143272 non-null  object
 8   부번                1143272 non-null  float64
 9   건물명               1143399 non-null  object
 10  계약일               1143399 non-null  int64
 11  물건금액(만원)          1143399 non-null  int64
 12  건물면적(㎡)           1143399 non-null  float64
 13  토지면적(㎡)           357971 non-null   float64
 14  층                 1143399 non-null  int64
 15  권리구분              54319 non-null    object
 16  취소일               7869 non-null     float64
 17  건축년도              1143393 non-null  float64
 18  건물용도              1143399 non-null  object
 19  신고구분              46139 non-null    object
 20  신고한 개업공인중개사 시군구명  39650 non-null    object
 21  연도                1143399 non-null  int64
dtypes: float64(6), int64(7), object(9)
memory usage: 200.6+ MB

In [33]:
df

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명,연도
13604,2023,11230,동대문구,11000,이문동,1.0,대지,225.0,0.0,대림e-편한세상,...,84.97,0.0,11,NaN,NaN,2003.0,아파트,중개거래,서울 동대문구,2022
13605,2023,11530,구로구,10100,신도림동,1.0,대지,692.0,0.0,디큐브시티,...,59.88,0.0,4,NaN,NaN,2011.0,아파트,중개거래,서울 구로구,2022
13606,2023,11350,노원구,10500,상계동,1.0,대지,647.0,0.0,상계주공12(고층),...,41.30,0.0,12,NaN,NaN,1988.0,아파트,중개거래,서울 노원구,2022
13607,2023,11230,동대문구,10200,용두동,1.0,대지,792.0,0.0,래미안 허브리츠,...,59.98,0.0,12,NaN,NaN,2011.0,아파트,중개거래,서울 동대문구,2022
13608,2023,11710,송파구,11100,방이동,1.0,대지,89.0,0.0,올림픽선수기자촌2단지,...,100.82,0.0,1,NaN,NaN,1988.0,아파트,중개거래,서울 송파구,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156998,2008,11470,양천구,10300,신월동,1.0,대지,987,1.0,신월시영,...,50.67,NaN,6,NaN,NaN,1988.0,아파트,NaN,NaN,2008
1156999,2008,11230,동대문구,10900,휘경동,1.0,대지,57,0.0,주공1,...,84.75,NaN,4,NaN,NaN,2001.0,아파트,NaN,NaN,2008
1157000,2008,11200,성동구,10700,행당동,1.0,대지,346,0.0,행당 한진타운,...,59.96,NaN,10,NaN,NaN,2000.0,아파트,NaN,NaN,2008
1157001,2008,11590,동작구,10700,사당동,1.0,대지,120,0.0,두성,...,62.46,NaN,3,NaN,NaN,1992.0,아파트,NaN,NaN,2008
1157002,2008,11350,노원구,10500,상계동,1.0,대지,1321,0.0,건영,...,59.91,NaN,6,NaN,NaN,2003.0,아파트,NaN,NaN,2008

In [37]:
# 필터링할 연도 범위
start_year = 2016
end_year = 2022

# 연도 범위에 해당하는 데이터 필터링
df = df[(df['연도'] >= start_year) & (df['연도'] <= end_year)]
df

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명,연도
13604,2023,11230,동대문구,11000,이문동,1.0,대지,225.0,0.0,대림e-편한세상,...,84.97,0.0,11,NaN,NaN,2003.0,아파트,중개거래,서울 동대문구,2022
13605,2023,11530,구로구,10100,신도림동,1.0,대지,692.0,0.0,디큐브시티,...,59.88,0.0,4,NaN,NaN,2011.0,아파트,중개거래,서울 구로구,2022
13606,2023,11350,노원구,10500,상계동,1.0,대지,647.0,0.0,상계주공12(고층),...,41.30,0.0,12,NaN,NaN,1988.0,아파트,중개거래,서울 노원구,2022
13607,2023,11230,동대문구,10200,용두동,1.0,대지,792.0,0.0,래미안 허브리츠,...,59.98,0.0,12,NaN,NaN,2011.0,아파트,중개거래,서울 동대문구,2022
13608,2023,11710,송파구,11100,방이동,1.0,대지,89.0,0.0,올림픽선수기자촌2단지,...,100.82,0.0,1,NaN,NaN,1988.0,아파트,중개거래,서울 송파구,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582226,2016,11530,구로구,10600,고척동,1.0,대지,0325,0.0,경남1,...,84.85,NaN,18,NaN,NaN,1998.0,아파트,NaN,NaN,2016
582227,2016,11350,노원구,10200,월계동,1.0,대지,0941,0.0,성북역신도브래뉴,...,59.82,NaN,7,NaN,NaN,2005.0,아파트,NaN,NaN,2016
582228,2016,11650,서초구,10100,방배동,1.0,대지,0485,3.0,방배래미안타워,...,134.36,NaN,12,NaN,NaN,2005.0,아파트,NaN,NaN,2016
582229,2016,11470,양천구,10100,신정동,1.0,대지,1293,0.0,학마을1단지,...,49.99,NaN,2,NaN,NaN,2000.0,아파트,NaN,NaN,2016
582230,2016,11350,노원구,10600,중계동,1.0,대지,0512,0.0,중계무지개,...,39.96,NaN,10,NaN,NaN,1991.0,아파트,NaN,NaN,2016

In [38]:
# 사용할 연도 컬럼만 추출해서 새로운 데이터 프레임 생성
# 추출된 데이터프레임을 CSV 파일로 저장
df.to_csv('seoul__data.csv', index=False)