In [1]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('df_1.csv', index_col=0)
df

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
0,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
1,구로구,2022-12-31,59.88,4,2011.0,2022,85000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
2,노원구,2022-12-31,41.30,12,1988.0,2022,39000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
3,동대문구,2022-12-31,59.98,12,2011.0,2022,80000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
4,송파구,2022-12-31,100.82,1,1988.0,2022,185000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560753,구로구,2016-01-01,84.85,18,1998.0,2016,30500,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560754,노원구,2016-01-01,59.82,7,2005.0,2016,30800,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560755,서초구,2016-01-01,134.36,12,2005.0,2016,94000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560756,양천구,2016-01-01,49.99,2,2000.0,2016,21000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560757,노원구,2016-01-01,39.96,10,1991.0,2016,18000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3

### 건물나이 컬럼 생성(연도 - 건축년도) 및 건물나이 결측치 6행 삭제

In [45]:
# 건물나이 컬럼생성
df['건물나이'] = df['연도'] - df['건축년도']

In [46]:
df['건물나이']

0         19.0
1         11.0
2         34.0
3         11.0
4         34.0
          ...
560753    18.0
560754    11.0
560755    11.0
560756    16.0
560757    25.0
Name: 건물나이, Length: 560758, dtype: float64

In [47]:
# 결측치 확인
df['건물나이'].isnull().sum()

6

In [48]:
# 결측치를 포함하는 행 제거
df = df.dropna(subset=['건물나이'])

### Close 결측치 채우기

In [49]:
# 시계열로 변환
df['계약일_x'] = pd.to_datetime(df['계약일_x'])

C:\Users\user\AppData\Local\Temp\ipykernel_26936\1566297328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계약일_x'] = pd.to_datetime(df['계약일_x'])

In [50]:
df = df.sort_values(by='계약일_x')

In [51]:
df

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,...,부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율,건물나이
560757,노원구,2016-01-01,39.96,10,1991.0,2016,18000,NaN,2016-01,0.34,...,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,25.0
560738,성동구,2016-01-01,75.37,10,1990.0,2016,55200,NaN,2016-01,0.34,...,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
560739,금천구,2016-01-01,84.83,3,2002.0,2016,36800,NaN,2016-01,0.34,...,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,14.0
560740,은평구,2016-01-01,101.97,9,2010.0,2016,67600,NaN,2016-01,0.34,...,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,6.0
560741,노원구,2016-01-01,84.59,10,1990.0,2016,30300,NaN,2016-01,0.34,...,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,송파구,2022-12-31,84.71,11,1988.0,2022,138000,NaN,2022-12,4.10,...,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,34.0
20,송파구,2022-12-31,84.90,24,2008.0,2022,172000,NaN,2022-12,4.10,...,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,14.0
21,동대문구,2022-12-31,84.87,33,0.0,2022,90452,NaN,2022-12,4.10,...,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,2022.0
11,양천구,2022-12-31,64.02,5,1996.0,2022,37000,NaN,2022-12,4.10,...,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,26.0
0,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,NaN,2022-12,4.10,...,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,19.0

In [52]:
df['Close'].isnull().sum()

167736

In [53]:
df['Close'] = df['Close'].fillna(method='ffill')

In [54]:
# 2016년 이전에 있던 종가는 2015-12-30일의 종가인 1961로 채우기
df['Close'].isnull().sum()

116

In [55]:
# 채우기
df['Close'].fillna(1961.310059, inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560752 entries, 560757 to 0
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   자치구명                  560752 non-null  object
 1   계약일_x                 560752 non-null  datetime64[ns]
 2   건물면적(㎡)               560752 non-null  float64
 3   층                     560752 non-null  int64
 4   건축년도                  560752 non-null  float64
 5   연도                    560752 non-null  int64
 6   물건금액(만원)              560752 non-null  int64
 7   Close                 560752 non-null  float64
 8   월                     560752 non-null  object
 9   FEDFUNDS              560752 non-null  float64
 10  국제유가(Dubai) (US$/배럴)  560752 non-null  float64
 11  부동산 거래량               560752 non-null  object
 12  국고채?3년(평균)            560752 non-null  float64
 13  국고채?5년(평균)            560752 non-null  float64
 14  국고채?10년(평균)           560752 non-null  float64
 15  회사채?3년(평균)            560752 non-null  float64
 16  CD?91물(평균)            560752 non-null  float64
 17  콜금리(1일물,평균)           560752 non-null  float64
 18  기준금리                  560752 non-null  float64
 19  GDP대비가계부채비율           190958 non-null  float64
 20  건물나이                  560752 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(3), object(3)
memory usage: 94.1+ MB

### 부동산 거래량 ,지우고 type int64로 바꾸기

In [63]:
df['부동산 거래량'].value_counts()

14446    16443
19187    15787
34199    15780
14388    15430
17372    14712
         ...
6529      1532
7852      1369
5791      1331
3698       852
3933       734
Name: 부동산 거래량, Length: 84, dtype: int64

In [62]:
# ,지우기
df['부동산 거래량'] = df['부동산 거래량'].str.replace(',', '')

In [65]:
# int로 변환
df = df.astype({'부동산 거래량' : 'int'})

In [68]:
df

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,...,부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율,건물나이
560757,노원구,2016-01-01,39.96,10,1991.0,2016,18000,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,25.0
560738,성동구,2016-01-01,75.37,10,1990.0,2016,55200,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
560739,금천구,2016-01-01,84.83,3,2002.0,2016,36800,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,14.0
560740,은평구,2016-01-01,101.97,9,2010.0,2016,67600,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,6.0
560741,노원구,2016-01-01,84.59,10,1990.0,2016,30300,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,송파구,2022-12-31,84.71,11,1988.0,2022,138000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,34.0
20,송파구,2022-12-31,84.90,24,2008.0,2022,172000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,14.0
21,동대문구,2022-12-31,84.87,33,0.0,2022,90452,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,2022.0
11,양천구,2022-12-31,64.02,5,1996.0,2022,37000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,26.0
0,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,19.0

In [71]:
df.reset_index(drop=True, inplace=True)

In [72]:
df

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,...,부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율,건물나이
0,노원구,2016-01-01,39.96,10,1991.0,2016,18000,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,25.0
1,성동구,2016-01-01,75.37,10,1990.0,2016,55200,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
2,금천구,2016-01-01,84.83,3,2002.0,2016,36800,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,14.0
3,은평구,2016-01-01,101.97,9,2010.0,2016,67600,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,6.0
4,노원구,2016-01-01,84.59,10,1990.0,2016,30300,1961.310059,2016-01,0.34,...,9894,1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560747,송파구,2022-12-31,84.71,11,1988.0,2022,138000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,34.0
560748,송파구,2022-12-31,84.90,24,2008.0,2022,172000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,14.0
560749,동대문구,2022-12-31,84.87,33,0.0,2022,90452,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,2022.0
560750,양천구,2022-12-31,64.02,5,1996.0,2022,37000,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,26.0
560751,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,2236.399902,2022-12,4.10,...,3698,3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN,19.0