In [1]:
import pandas as pd
import numpy as np

In [2]:
df0 = pd.read_csv('./after_preprocessing_data/all_df.csv')

In [3]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536097 entries, 0 to 536096
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   자치구                536097 non-null  object
 1   계약일                536097 non-null  object
 2   건물면적(㎡)            536097 non-null  float64
 3   층                  536097 non-null  int64
 4   KOSPI종가            536097 non-null  float64
 5   Fed기준금리            536097 non-null  float64
 6   국제유가(Dubai)($/배럴)  536097 non-null  float64
 7   부동산거래량             536097 non-null  int64
 8   국고채3년(평균)          536097 non-null  float64
 9   국고채5년(평균)          536097 non-null  float64
 10  국고채10년(평균)         536097 non-null  float64
 11  회사채3년(평균)          536097 non-null  float64
 12  CD91물(평균)          536097 non-null  float64
 13  콜금리(1일물,평균)        536097 non-null  float64
 14  BOK기준금리            536097 non-null  float64
 15  건물연식               536097 non-null  int64
 16  GDP대비가계부채비율        536097 non-null  float64
 17  물건금액(만원)           536097 non-null  int64
 18  환율종가               536097 non-null  object
 19  금값종가               536097 non-null  float64
 20  선행지수순환변동치          536097 non-null  float64
 21  South Korea        536097 non-null  float64
dtypes: float64(15), int64(4), object(3)
memory usage: 90.0+ MB

In [4]:
df0['환율종가'] = df0['환율종가'].str.replace(',','')

In [5]:
df0['환율종가'] = df0['환율종가'].astype('float')

# EPU 컬럼이름 변경

In [6]:
df0 = df0.rename(columns= {'South Korea' : 'EPU'})

In [7]:
df0

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치,EPU
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,25,83.3,18000,1175.45,76.81,99.6,177.148845
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,26,83.3,55200,1175.45,76.81,99.6,177.148845
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,14,83.3,36800,1175.45,76.81,99.6,177.148845
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,6,83.3,67600,1175.45,76.81,99.6,177.148845
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,26,83.3,30300,1175.45,76.81,99.6,177.148845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,18,105.0,250000,1260.92,76.11,99.1,169.662386
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,34,105.0,138000,1260.92,76.11,99.1,169.662386
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,14,105.0,172000,1260.92,76.11,99.1,169.662386
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,26,105.0,37000,1260.92,76.11,99.1,169.662386
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,19,105.0,76500,1260.92,76.11,99.1,169.662386

# 장단기 Spread 컬럼 추가 
- 국채 3년 - 콜금리
- 기존 컬럼 지우기

In [8]:
df0['장단기금리spread']= df0['국고채3년(평균)'] - df0['콜금리(1일물,평균)']

In [9]:
df0.loc[df0['장단기금리spread']<0, '계약일'].unique()

array(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
       '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
       '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13',
       '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17',
       '2016-02-18', '2016-02-19', '2016-02-20', '2016-02-21',
       '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25',
       '2016-02-26', '2016-02-27', '2016-02-28', '2016-02-29',
       '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
       '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
       '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
       '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
       '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
       '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
       '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
       '2016-04-29', '2016-04-30', '2016-05-01', '2016-05-02',
       '2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06',
       '2016-05-07', '2016-05-08', '2016-05-09', '2016-05-10',
       '2016-05-11', '2016-05-12', '2016-05-13', '2016-05-14',
       '2016-05-15', '2016-05-16', '2016-05-17', '2016-05-18',
       '2016-05-19', '2016-05-20', '2016-05-21', '2016-05-22',
       '2016-05-23', '2016-05-24', '2016-05-25', '2016-05-26',
       '2016-05-27', '2016-05-28', '2016-05-29', '2016-05-30',
       '2016-05-31', '2016-07-01', '2016-07-02', '2016-07-03',
       '2016-07-04', '2016-07-05', '2016-07-06', '2016-07-07',
       '2016-07-08', '2016-07-09', '2016-07-10', '2016-07-11',
       '2016-07-12', '2016-07-13', '2016-07-14', '2016-07-15',
       '2016-07-16', '2016-07-17', '2016-07-18', '2016-07-19',
       '2016-07-20', '2016-07-21', '2016-07-22', '2016-07-23',
       '2016-07-24', '2016-07-25', '2016-07-26', '2016-07-27',
       '2016-07-28', '2016-07-29', '2016-07-30', '2016-07-31',
       '2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
       '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
       '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
       '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
       '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20',
       '2019-04-21', '2019-04-22', '2019-04-23', '2019-04-24',
       '2019-04-25', '2019-04-26', '2019-04-27', '2019-04-28',
       '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02',
       '2019-05-03', '2019-05-04', '2019-05-05', '2019-05-06',
       '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
       '2019-05-11', '2019-05-12', '2019-05-13', '2019-05-14',
       '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-18',
       '2019-05-19', '2019-05-20', '2019-05-21', '2019-05-22',
       '2019-05-23', '2019-05-24', '2019-05-25', '2019-05-26',
       '2019-05-27', '2019-05-28', '2019-05-29', '2019-05-30',
       '2019-05-31', '2019-06-01', '2019-06-02', '2019-06-03',
       '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07',
       '2019-06-08', '2019-06-09', '2019-06-10', '2019-06-11',
       '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-15',
       '2019-06-16', '2019-06-17', '2019-06-18', '2019-06-19',
       '2019-06-20', '2019-06-21', '2019-06-22', '2019-06-23',
       '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27',
       '2019-06-28', '2019-06-29', '2019-06-30', '2019-07-01',
       '2019-07-02', '2019-07-03', '2019-07-04', '2019-07-05',
       '2019-07-06', '2019-07-07', '2019-07-08', '2019-07-09',
       '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-13',
       '2019-07-14', '2019-07-15', '2019-07-16', '2019-07-17',
       '2019-07-18', '2019-07-19', '2019-07-20', '2019-07-21',
       '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
       '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29',
       '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02',
       '2019-08-03', '2019-08-04', '2019-08-05', '2019-08-06',
       '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-10',
       '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14',
       '2019-08-15', '2019-08-16', '2019-08-17', '2019-08-18',
       '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22',
       '2019-08-23', '2019-08-24', '2019-08-25', '2019-08-26',
       '2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30',
       '2019-08-31', '2019-09-01', '2019-09-02', '2019-09-03',
       '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-07',
       '2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11',
       '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15',
       '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19',
       '2019-09-20', '2019-09-21', '2019-09-22', '2019-09-23',
       '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27',
       '2019-09-28', '2019-09-29', '2019-09-30'], dtype=object)

In [10]:
df0 = df0.drop(['국고채3년(평균)', '콜금리(1일물,평균)'], axis=1)

# Target 컬럼 '물건금액(만원)' 자리 이동

In [11]:
# '물건금액(만원)' 컬럼을 마지막으로 이동시키기
cols = df0.columns.tolist()
cols.remove('물건금액(만원)')
cols.append('물건금액(만원)')
df0 = df0[cols]

df0.head()

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채5년(평균),국고채10년(평균),...,CD91물(평균),BOK기준금리,건물연식,GDP대비가계부채비율,환율종가,금값종가,선행지수순환변동치,EPU,장단기금리spread,물건금액(만원)
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.5,25,83.3,1175.45,76.81,99.6,177.148845,0.14,18000
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.5,26,83.3,1175.45,76.81,99.6,177.148845,0.14,55200
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.5,14,83.3,1175.45,76.81,99.6,177.148845,0.14,36800
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.5,6,83.3,1175.45,76.81,99.6,177.148845,0.14,67600
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.5,26,83.3,1175.45,76.81,99.6,177.148845,0.14,30300

In [18]:
# to_csv 
df0.to_csv('df_final_0627.csv', index=False, encoding='utf-8-sig')